<div class="page-header">
  <h1>
    Follower requests
    <a href="/follower_requests/new" class="btn btn-lg btn-success">New Follower request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Actions</th>
      </tr>

      <% @follower_requests.each do |follower_request| %>
      <tr>
        <td>
          <% if follower_request.sender.present? %>
            <a href="/users/<%= follower_request.sender.id %>">
              <%= follower_request.sender.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if follower_request.recipient.present? %>
            <a href="/users/<%= follower_request.recipient.id %>">
              <%= follower_request.recipient.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/follower_requests/<%= follower_request.id %>" class="btn btn-primary">Show</a>
          <a href="/follower_requests/<%= follower_request.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_follower_request/<%= follower_request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @follower_requests, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
