<div class="page-header">
  <h3>Follower Request #<%= @follower_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd>
        <% if @follower_request.sender.present? %>
          <a href="/users/<%= @follower_request.sender_id %>">
            <%= @follower_request.sender.email %>
          </a>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd>
        <% if @follower_request.recipient.present? %>
          <a href="/users/<%= @follower_request.recipient_id %>">
            <%= @follower_request.recipient.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/follower_requests" class="btn btn-primary">
        Back
      </a>
      <a href="/follower_requests/<%= @follower_request.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_follower_request/<%= @follower_request.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
